<h2>Comments for: </h2>
<h2>{{title}}</h2>

{{#each comments}}
  <span>{{message}}</span>
  <div class='comment-btn'>
    <form method='POST' action='/book/{{_id}}/comments/delete'>
      <button type='submit'>Delete</button>
    </form>
    <button style='width: 50' type='submit'><a
        href='/book/{{_id}}/comments/edit'
      >Edit</a></button>
  </div>
  <article class='publication-item'>
    <aside>
      <strong>{{score}}</strong>
      <form method='POST' action='/book/{{_id}}/vote'>
        <button>
          <img src='/images/thumbs-up.png' style='width: 15' alt='like' />
        </button>
      </form>
    </aside>

    <aside>
      <strong>{{unlike}}</strong>
      <form method='POST' action='/book/{{this._id}}/dislike'>
        <button>
          <img src='/images/thumbs-down.png' style='width: 15' alt='like' />
        </button>
      </form>
    </aside>
  </article>
  <span>{{creator.name}}</span>

  <span>{{date creationDate}}</span>
  <br />

{{/each}}

<form method='POST'>
  <label for='comment-input'>Your comment</label>
  <input id='comment-input' type='text' name='message' placeholder='comment' />
  <br />
  <button>Post comment</button>
</form>