<html lang='en'>

<head>
  <meta charset='utf-8' />
  <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no' />
  <title>{{title}}</title>
  <!-- Bootstrap CSS -->
  <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css'
    integrity='sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh' crossorigin='anonymous' />
  <link rel='stylesheet' href='/styles/style.css' />
</head>

<body class='d-flex h-100 text-center text-white bg-dark'>

  <div class='cover-container d-flex w-100 h-100 p-3 mx-auto flex-column'>

    <header class='mb-auto'>
      <div>
        {{! <h3 class='float-md-start mb-0'>The book club</h3> }}
        <nav class='nav nav-masthead justify-content-center float-md-end'>
          <a class='nav-link active' aria-current='page' href='/'>Home</a>
          {{#if user}}
          <a class='nav-link' href='/profile/{{user._id}}'>{{user.name}}'s Profile</a>
          <a class='nav-link' href='/search-book'>Search Book</a>
          <a class='nav-link' href='/search-user'>Search User</a>
          <form action='/authentication/sign-out' method='POST'>
            <button class='btn-secondary'>Sign Out</button>
          </form>
          {{else}}
          <a class='nav-link' href='/authentication/sign-in'>Sign In</a>
          <a class='nav-link' href='/authentication/sign-up'>Sign Up</a>
          {{/if}}
        </nav>
      </div>
    </header>

    {{{body}}}

    <footer class='mt-auto text-white-50'>
      <p>Cover template for
        <a href='https://getbootstrap.com/' class='text-white'>Bootstrap</a>,
        by
        <a href='https://twitter.com/mdo' class='text-white'>@mdo</a>.
      </p>
    </footer>
  </div>

  <script src='/scripts/script.js'></script>
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src='https://code.jquery.com/jquery-3.4.1.slim.min.js'
    integrity='sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n'
    crossorigin='anonymous'></script>
  <script src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js'
    integrity='sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo'
    crossorigin='anonymous'></script>
  <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js'
    integrity='sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6'
    crossorigin='anonymous'></script>
</body>

</html>