<h1>Profile</h1>
<span><strong>Name</strong>: {{user.name}}</span>
<br />
<span><strong>Email</strong>: {{user.email}}</span>

<div class='added-books'>
{{#each books}}

  <h3>{{title}}</a></h3>
  <h3>{{subtitle}}</h3>
   <img src={{image}} />
  <h3>{{review}}</h3>
{{/each}}
</div>