<div class='container'>
  <div class='row justify-content-center'>
    <h2 class='my-5 text-light'>{{searchedUser.name}}'s Profile</h2>
  </div>
  <div class='row row-flex'>

    <!--- Friend profile-->

    <div class='col-md-6'>

      <div class='card content bg-light text-dark text-center'>
        <h4 class=''><i class='bi bi-person-circle'></i>
          {{searchedUser.name}}</h4>
        <div
          class='card-body d-flex flex-column align-items-center justify-content-center'
        >

          {{#if searchedUser.profilePhoto}}
            <img
              src='{{searchedUser.profilePhoto}}'
              class='bg-light img-thumbnail m-1'
              alt='profile-picture'
              style='max-height: 100px'
            />

          {{else}}
            <img
              src='./../images/no-user-profile-pic.png'
              class='bg-light img-thumbnail m-1'
              alt='library'
              style='max-height: 100px'
            />
          {{/if}}

          <ul class='list-group p-2'>
            <li><strong>Name</strong>: {{searchedUser.name}}</li>
            <li><strong>Email</strong>: {{searchedUser.email}}</li>
          </ul>

          {{#if friend}}
            <form method='POST'>
              <button class='btn btn-primary m-2'>Add as Friend</button>
            </form>

          {{else}}

            <form
              method='POST'
              action='/userprofilepage/{{searchedUser.id}}/remove'
            >
              <button class='btn btn-outline-danger m-2'>Remove Friend</button>
            </form>

          {{/if}}
          <div>
            <h5 class='p-2'>About Me</h5>
            {{#if searchedUser.bio}}
              <p>
                {{searchedUser.bio}}
              </p>
            {{else}}
              <p><em>{{searchedUser.name}}
                  is very shy and didn't write any bio yet.</em></p>
            {{/if}}
          </div>
        </div>
      </div>
    </div>

    <!---ok lists -->

    <div class='col-md-6'>
      <div class='card content bg-light text-dark text-center'>
        <h4 class=''><i class='bi bi-book'></i>
          {{searchedUser.name}}'s book list</h4>
        <div class='card-body d-flex align-items-center justify-content-center'>
          {{#if lists}}
            <form method='GET'>

              {{#each lists}}
                <ul class='list-group m-1'>
                  <li class='list-group-item border border-primary'><a
                      href='/booklist/{{this._id}}'
                    >{{listName}}</a></li>
                </ul>
              {{/each}}

            </form>
          {{else}}
            <p><em>It's empty here... Maybe you could help
                {{searchedUser.name}}
                fill their book list?</em></p>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</div>