<div class='d-flex flex-wrap justify-content-center'>
  <div class='card text-dark bg-light'>
    <div class='p-3 mt-5'>
      {{#if user.profilePhoto}}
          <img
          src='{{user.profilePhoto}}'
          class='bg-light img-thumbnail m-1'
          alt='profile-picture'
          style='max-height: 200px'
        />
      {{else}}
          <img src='./../images/no-user-profile-pic.png'
          class='bg-light img-thumbnail m-1'
          alt= 'library'
          style='max-height: 200px'/>
      {{/if}}
    </div>
  
    <div>
      <h1>My profile</h1>
        <div>
          <ul>
            <li><h3><strong>Username</strong>: {{user.name}} </h3> </li>
            <li><h4><strong>Email</strong>: {{user.email}}</h3></li>
          </ul>
        </div>
        <div class="d-flex flex-column">
            <h3><strong>About Me</strong></h3>
              <div class='d-flex flex-wrap justify-content-center px-3 mb-3'
                <p>
                  {{user.bio}}
                </p>
              </div> 
              <div> 
                <a href='/edit-profile' class='btn btn-outline-danger mb-5'>Edit Profile</a>
              </div>
          
        </div>

    </div>


  <div class="d-flex bg-dark flex-wrap align-items-start justify-content-center">

    {{> myBookLists}}
      
  </div>

    <div class='card text-white bg-dark flex-column p-3 m-3'>
      <h1>My friends</h1>
      <p class='text-white'>
        {{#each friendList}}
        <a href="/userprofilepage/{{friendsOnList.id}}"> {{friendsOnList.name}} </a>
        {{/each}}
      </p>
    </div>
  </div>
  </div>
</div>