{{!-- {{> homeNavbar}} --}}

<h1>{{user.name}}'s Profile</h1>

{{#if user.profilePhoto}}
  <figure>
    <img src='{{user.profilePhoto}}' width='90' height='120px' alt='profPic' />
  </figure>
{{/if}}

<span><strong>Name</strong>: {{user.name}}</span>
<span><strong>Email</strong>: {{user.email}}</span>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<h3>About Me</h3>
<br />
<p>
  {{user.bio}}
</p>

<form method='GET'>

  {{#each lists}}
    <span>
      <a href='/booklist/{{this._id}}'>{{listName}}</a>
    </span>
  {{/each}}

</form>

<a href='/edit-profile'>Edit Profile</a>