<div class='container'>
  <div class='row justify-content-center'>
    <h2 class='mb-5 fw-light'>My Profile</h2>
  </div>
  <div class='row row-flex'>

    <!-- user --->

    <div class='col-md-4'>

      <div class='card content bg-light text-dark text-center'>
        <h4><i class='bi bi-person-circle'></i>
          My Info</h4>
        <div class='card-body d-flex flex-column align-items-center justify-content-center'>
          
          
          {{#if user.profilePhoto}}
            <img
              src='{{user.profilePhoto}}'
              class='bg-light img-thumbnail m-1'
              alt='profile-picture'
              style='max-height: 100px'
            />

          {{else}}
            <img
              src='./../images/no-user-profile-pic.png'
              class='bg-light img-thumbnail m-1'
              alt='library'
              style='max-height: 100px'
            />
          {{/if}}
        
        
        
        <ul class='list-group p-2'>
        <li><strong>Name</strong>: {{user.name}}</li>
        <li><strong>Email</strong>: {{user.email}}</li>
        </ul>
        

        <div>
          <h5 class='p-2'>About Me</h5>
          {{#if user.bio}}
            <p>
              {{user.bio}}
            </p>
          {{else}}
            <p><em>You didn't write a bio yet.</em></p>
          {{/if}}
        </div>
       
          <a href='/edit-profile' class='btn btn-lg btn-outline-danger mt-auto'>Edit
            Profile</a>
        
        </div>
      </div>
    </div>

    <!--- User book lists -->

    {{> myBookLists}}
    
    <!---Friend list-->

    <div class='col-md-4'>
      <div class='card content bg-light text-dark text-center'>
        <h4><i class='bi bi-people-fill'></i> My Friend List</h4>
        <div class='card-body d-flex flex-column 
        align-items-center justify-content-center'>
          <div>
          {{#if friendList}}
            <form method="GET">
              {{#each friendList}}
                <ul class='list-group m-1'>
                  <li class='list-group-item border border-primary'><a href='/userprofilepage/{{friendsOnList.id}}'>
                      {{friendsOnList.name}}</a></li>
                </ul>
              {{/each}}
            </form>
          {{else}}
            <p><em>You don't have any friends yet.</em></p>
          {{/if}}
          </div>

          <a href='/search-user' class='btn btn-lg btn-outline-success mt-auto'>Search friends</a>
         
        </div>
      </div>
    </div>

  </div>

</div>