
{{!--   .row-cols-1 laying out the cards on one column, 
and .row-cols-md-2 splitting four cards to equal width across multiple rows, 
from the medium breakpoint up. --}}

<div class='container'>

  <div class="row justify-content-center mt-5">
    {{> searchBooks}}
    {{!-- <h2 class='my-5 text-light'>New search:</h2> --}}
  </div>

    

  <div class="row justify-content-center">
    <h2 class='my-5 text-light'>Your results:</h2>
  </div>
    {{#if listNonExistant}}
      <h5>That list doesn't exist - click <a href="/create-list" style="color:chartreuse">here</a> to create a new list.</h5>
    {{/if}}

      
  <div class="row">
   {{#each books.books as |book bookId|}}
    <div class='col-md-3 mb-4'>
      <div class='card content bg-light text-dark text-center'>
        <div class='card-body d-flex flex-column align-items-center justify-content-between'>
          <div>
            <img class='img-fluid rounded-start'

              {{#if volumeInfo.imageLinks.smallThumbnail}} 
                        src='{{volumeInfo.imageLinks.smallThumbnail}}' 
                        {{else}} 
                        src='./../images/no-book-image.jpg'
                        width='130px'
                      {{/if}}
              alt='{{volumeInfo.title}}'
            />
          </div>
          
          <div class='p-1'>
            <p class='mb-1'>{{volumeInfo.authors}}</p> 
            <p class='p-1'><b>{{volumeInfo.title}}</b></p>
            <span class='mb-2'>{{volumeInfo.publisher}}</span>
          </div>
          <div class='d-flex text-left'>


          <form id="addBookForm" method='POST' enctype='multipart/form-data'>
              <input
                type='text'
                name='title'
                id='input-title'
                value='{{volumeInfo.title}}'
                placeholder='Title'
                style='display: none;'
              />

              <input
                type='text'
                name='authors'
                id='input-authors'
                value='{{volumeInfo.authors}}'
                placeholder='authors'
                style='display: none;'
              />
 
              <input
                type='text'
                name='publisher'
                id='input-publisher'
                value='{{volumeInfo.publisher}}'
                placeholder='publisher'
                style='display: none;'
              />

              <input
                type='text'
                name='image'
                value='{{volumeInfo.imageLinks.smallThumbnail}}'
                style='display: none;'
              />
              <div class="dropdown">
                <button class="btn btn-primary mt-1 dropdown-toggle" type='button' id="addBookDropdownMenu" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false"> Add to Book List </button>
                <div class="dropdown-menu" aria-labelledby="addBookDropdownMenu">
                  {{#each ../books.userLists}}
                    <button class='dropdown-item' name="bookList" value="{{listName}}" type="submit">{{listName}}</button>
                 {{/each}}
                </div>
              </div>
          </form>
          </div>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>

            