{{> searchBookNavbar}}
<h1>Your Results</h1>
<div class='results-data'>
  {{#each books}}
    <h4>{{volumeInfo.title}}</h4>
    <h4>{{volumeInfo.authors}}</h4>
    <h6>{{volumeInfo.publisher}}</h6>
    <img
      src='{{volumeInfo.imageLinks.smallThumbnail}}'
      alt='{{volumeInfo.title}}'
    />
    <form method='POST' enctype='multipart/form-data'>
      <input
        type='text'
        name='title'
        id='input-title'
        value='{{volumeInfo.title}}'
        placeholder='Title'
        style='display: none;'
      />

      <input
        type='text'
        name='authors'
        id='input-authors'
        value='{{volumeInfo.authors}}'
        placeholder='authors'
        style='display: none;'
      />
      <input
        type='text'
        name='bookList'
        id='input-bookList'
        value='{{bookList}}'
        placeholder='bookList'
        style='display: none;'
      />

      <input
        type='text'
        name='publisher'
        id='input-publisher'
        value='{{volumeInfo.publisher}}'
        placeholder='publisher'
        style='display: none;'
      />

      <input
        type='text'
        name='image'
        value='{{volumeInfo.imageLinks.smallThumbnail}}'
        style='display: none;'
      />

      <button>Add to Book List</button>
    </form>
  {{/each}}
</div>