
{{!--   .row-cols-1 laying out the cards on one column, 
and .row-cols-md-2 splitting four cards to equal width across multiple rows, 
from the medium breakpoint up. --}}

<div class='container'>

  <h3>New search:</h3>

  {{> searchBooks}}

  <h3>Your results:</h3>

      
  <div class="row">
   {{#each books}}
   <div class='col-md-3 g-2'>
    <div class='card text-dark gray-300 w-10 mb-4'>

          <img class='img-fluid rounded-start w-3'
            style='height:fit-content'
            src='{{volumeInfo.imageLinks.smallThumbnail}}'
            alt='{{volumeInfo.title}}'
          />

              <div class='px-1'>
                <p class='my-0'>{{volumeInfo.authors}}</p> 
                <p class='pb-0'><b>{{volumeInfo.title}}</b></p>
                <p class='my-0'><em>{{volumeInfo.publisher}}</em></p>
              </div>

          <form method='POST' enctype='multipart/form-data'>

            <input
              type='text'
              name='title'
              id='input-title'
              value='{{volumeInfo.title}}'
              placeholder='Title'
              style='display: none;'
            />

            <input
              type='text'
              name='authors'
              id='input-authors'
              value='{{volumeInfo.authors}}'
              placeholder='authors'
              style='display: none;'
            />
            <input
              type='text'
              name='bookList'
              id='input-bookList'
              placeholder='bookList'
            />

            <input
              type='text'
              name='publisher'
              id='input-publisher'
              value='{{volumeInfo.publisher}}'
              placeholder='publisher'
              style='display: none;'
            />

            <input
              type='text'
              name='image'
              value='{{volumeInfo.imageLinks.smallThumbnail}}'
              style='display: none;'
            />

            <button class='mt-2 w-60 btn btn-sm btn-primary'>Add to Book List</button>
          </form>

      </div>
    </div>
  
    {{/each}}
  </div>
</div>

