
{{!--   .row-cols-1 laying out the cards on one column, 
and .row-cols-md-2 splitting four cards to equal width across multiple rows, 
from the medium breakpoint up. --}}

<div class='container'>

  <div class="row justify-content-center">
    <h2 class='mb-5 fw-light'>New search:</h2>
  </div>

    {{> searchBooks}}

  <div class="row justify-content-center">
    <h2 class='mb-5 fw-light'>Your results:</h2>
  </div>



      
  <div class="row">
   {{#each books}}
    <div class='col-md-3 mb-4'>
      <div class='card content bg-light text-dark text-center'>
        <div class='card-body d-flex flex-column align-items-center justify-content-between'>
          <div>
            <img class='img-fluid rounded-start'

              {{#if volumeInfo.imageLinks.smallThumbnail}} 
                        src='{{volumeInfo.imageLinks.smallThumbnail}}' 
                        {{else}} 
                        src='./../images/no-book-image.jpg'
                        width='130px'
                      {{/if}}
              alt='{{volumeInfo.title}}'
            />
          </div>
          
          <div class='p-1'>
            <p class='mb-1'>{{volumeInfo.authors}}</p> 
            <p class='p-1'><b>{{volumeInfo.title}}</b></p>
            <span class='mb-2'>{{volumeInfo.publisher}}</span>
          </div>
          <div class='d-flex text-left'>
          <form method='POST' enctype='multipart/form-data'>
              <input
                type='text'
                name='title'
                id='input-title'
                value='{{volumeInfo.title}}'
                placeholder='Title'
                style='display: none;'
              />

              <input
                type='text'
                name='authors'
                id='input-authors'
                value='{{volumeInfo.authors}}'
                placeholder='authors'
                style='display: none;'
              />
              <input
                type='text'
                name='bookList'
                id='input-bookList'
                class='form-control-sm border-primary mb-1'
                placeholder='bookList'
              />

              <input
                type='text'
                name='publisher'
                id='input-publisher'
                value='{{volumeInfo.publisher}}'
                placeholder='publisher'
                style='display: none;'
              />

              <input
                type='text'
                name='image'
                value='{{volumeInfo.imageLinks.smallThumbnail}}'
                style='display: none;'
              />

              <button class='btn btn-primary mt-1'>Add to Book List</button>
          </form>
          </div>
        </div>
      </div>
    </div>
  
    {{/each}}
  </div>
</div>

