<h1>Your Results</h1>
<div class='results-data'>
  {{#each books}}
    <h3>{{title}}</h3>
    <h3>{{subtitle}}</h3>
    <img id='img-id' src={{image}} style='width: 150px;' alt={{title}} />

    <form method='POST' enctype='multipart/form-data'>
      <input
        type='text'
        name='title'
        id='input-title'
        value='{{title}}'
        placeholder='Title'
        style='display: none;'
      />

      <input
        type='text'
        name='subtitle'
        id='input-subtitle'
        value='{{subtitle}}'
        placeholder='subtitle'
        style='display: none;'
      />

      <input
        type='text'
        name='image'
        value='{{image}}'
        style='display: none;'
      />

      <button>Add</button>
    </form>
  {{/each}}
</div>