{{#if bookListPage}}
  <h1>{{bookListPage.listName}}</h1>
  <br />
  <div>
    {{#if authorizedUser}}
      <form method='POST' action='/booklist/{{bookListPage.id}}/delete'>
        <button type='submit'>Delete List</button>
      </form>
    {{/if}}
  </div>
{{/if}}

<div class='added-books'>
  {{#each books}}
    <h4>{{title}}</h4>
    <h4>{{authors}}</h4>
    <h6>{{publisher}}</h6>
    <img src='{{image}}' alt='{{title}}' />

    <p>
      <style>
        .checked { color: orange; }
      </style>
      <span class='fa fa-star'></span>
      <span class='fa fa-star'></span>
      <span class='fa fa-star'></span>
      <span class='fa fa-star'></span>
      <span class='fa fa-star'></span>
      <br />
      <i>
        <h7>{{review}}</h7>
      </i>
    </p>

    {{#if review}}
      <a
        class='btn'
        href='/booklist/{{bookList}}/{{title}}/{{this._id}}/edit'
      >Change Review</a>
      <a class='btn' href='/book/{{this._id}}/comments'>See comments of this
        review</a>
    {{else}}

      <a
        class='btn'
        href='/booklist/{{bookList}}/{{title}}/{{this._id}}/edit'
      >Add Review</a>

    {{/if}}
    <div>

      <form
        method='POST'
        action='/booklist/{{bookList}}/{{title}}/{{this._id}}/delete'
      >
        <button type='submit'>Delete Book</button>
      </form>

    </div>
  {{/each}}

</div>
{{#if user}}
  <p>
    <script>
      let star = document.getElementsByTagName('span'); for (let i = 0; i <
      star.length; i++) { star[i].addEventListener('click', function (e) {
      if(e.target.classList.value == 'fa fa-star checked'){
      e.target.classList.remove("checked") }else{
      e.target.classList.add("checked") }})}

    </script>
  </p>
{{/if}}