{{> profileNavbar}}

<h1>{{user.name}}'s Book List</h1>
<br />
<div class='added-books'>
  {{#each books}}
    <h4>{{title}}</h4>
    <h4>{{authors}}</h4>
    <h6>{{publisher}}</h6>
    <img src='{{image}}' alt='{{title}}' />

    <p>
      <style>
        .checked { color: orange; }
      </style>
      <span class='fa fa-star'></span>
      <span class='fa fa-star'></span>
      <span class='fa fa-star'></span>
      <span class='fa fa-star'></span>
      <span class='fa fa-star'></span>
      <br />
      <i>
        <h7>{{review}}</h7>
      </i>
    </p>
    <a class='btn' href='/booklist/{{this._id}}/edit'>Add Review</a>
    <form method='POST' action='/booklist/{{this._id}}/delete'>
      <button type='submit'>Delete Book</button>
    </form>
  {{/each}}

</div>
{{#if user}}
  <p>
    <script>
      let star = document.getElementsByTagName('span'); for (let i = 0; i <
      star.length; i++) { star[i].addEventListener('click', function (e) {
      if(e.target.classList.value == 'fa fa-star checked'){
      e.target.classList.remove("checked") }else{
      e.target.classList.add("checked") }})}

    </script>
  </p>
{{/if}}